$accent: #f1404b
$dark: #252c41
$light: #f4f5f9
$base: #dddfe6

@mixin block
	height: 100vh
	display: flex
	justify-content: center
	flex-wrap: wrap
	align-items: center

@mixin center
	display: flex
	justify-content: center
	align-items: center

@mixin shadow
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff, -1px 1px #fff, -2px 2px #fff, -3px 3px #fff, -4px 4px #fff, -5px 5px #fff

h1
	@include shadow

h1, h2, h3, h4, h4
	font-family: 'Oswald', sans-serif
p, a
	font-family: 'Courier', serif

body
	overflow-x: hidden
.gradient
	height: 5vh
	background: linear-gradient(to bottom, rgba(37,44,65,1) 1%,$light 20%)
.content
	text-align: center
	.landing
		background-color: $dark
		@include block
		height: 80vh
		.description
			display: flex
			justify-content: center
			flex-direction: column
			h1
				@include shadow
				font-size: 3em
				font-weight: 700
				letter-spacing: .2em
				letter-spacing: .1em
			p
				margin-top: -1vh
				color: white
		.buttons
			margin-top: 5vh
			a
				color: #fff
				border: 1px solid #fff
				transition: all 0.25s ease-in-out
				text-decoration: none
				margin-left: 0.5em
				margin-right: 0.5em
				padding: 0.75em 1.5em 0.75em 1.5em
				&:hover
					background-color: $dark
					color: $accent
					border: 1px solid $accent
					transition: all 0.25s ease-in-out
		.nav
			//this works lol
			//transform: translateY(7.3vh)
			background-color: $dark
			p
				color: white
				padding-top: 1em
			li
				list-style-type: none
				margin-right: 2.5em
				a
					text-decoration: none
					color: white
					margin-left: 1em
					margin-right: 1em
					transition: all 0.5s ease-in-out
					font-size: 1.5em
					&:hover
						color: $accent
						transition: all 0.5s ease-in-out
	.posts
		@include center
		background-color: $light
		.post
			max-width: 50%

	// .about
	// 	@include block
	// 	.aboutLeft
	// 		@include center
	// 		float: left
	// 		background-color: #53777A
	// 	.aboutRight
	// 		@include center
	// 		flex-direction: column
	// 		float: right
	// 		background-color: #f8f8f8
	// 	p
	// 		max-width: 75%
	// 		font-family: 'Courier', serif
	// .portfolio
	// 	@include block
	// 	.portLeft
	// 		@include center
	// 		float: left
	// 		background-color: #f8f8f8
	// 	.portRight
	// 		@include center
	// 		float: right
	// 		flex-direction: column
	// 		background-color: #53777A
	// 	p
	// 		max-width: 75%
	// 		font-family: 'Courier', serif
	// .contact
	// 	.contLeft
	// 		@include center
	// 		float: left
	// 		background-color: #53777A
	// 	.contRight
	// 		@include center
	// 		float: right
	// 		flex-direction: column
	// 		background-color: #f8f8f8
	// 	p
	// 		max-width: 75%
	// 		font-family: 'Courier', serif

// Stuff for the portfolio styles

.contentPort
	.title
		display: flex
		justify-content: center
		.port
			letter-spacing: 0.1em
			float: left
			font-size: 5em
			margin-top: 2em
			background-color: black
			padding: 0.1em 0.1em 0.1em 0.2em
	.work
		margin: 0 auto
		list-style: none
		text-align: center
		max-width: 70%
		float: right
		clear: both
		border: 1px solid black
		li
			border: 1px solid black
			margin: 1em 0 1em 1em
