@mixin block
	height: 100vh
	display: flex
	justify-content: center
	flex-wrap: wrap
	align-items: center

@mixin center
	display: flex
	justify-content: center
	align-items: center
	height: 100%

@mixin shadow
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff, -1px 1px #fff, -2px 2px #fff, -3px 3px #fff, -4px 4px #fff, -5px 5px #fff

h1
	@include shadow

h1, h2, h3, h4, h4
	font-family: 'Oswald', sans-serif
p, a
	font-family: 'Courier', serif

body
	overflow-x: hidden
.content
	text-align: center
	.landing
		//background-color: #D95B43
		//background-color: #666
		// TEMPORARY BACKGROUND
		background: url('../images/cover.jpg') center
		background-size: cover
		@include block
		.nav
			padding-top: 15em
			li
				list-style-type: none
				margin-right: 2.5em
				a
					text-decoration: none
					color: black
					margin-left: 1em
					margin-right: 1em
					transition: all 0.5s ease-in-out
					font-size: 2em
					&:hover
						color: #C02942
						transition: all 0.5s ease-in-out
		.description
			padding-top: 5em
			h1
				@include shadow
				font-size: 3em
				font-weight: 700
				letter-spacing: .2em
				letter-spacing: .1em
			a
				color: #fff
				text-decoration: none
				margin-left: 0.5em
				margin-right: 0.5em
				padding: 0.75em 1.5em 0.75em 1.5em
			p
				color: white
				margin-bottom: 2em
			.buttons
				a
					color: #fff
					border: 1px solid #fff
					transition: all 0.25s ease-in-out
					&:hover
						//background-color: #C02942
						box-shadow: 0px 7px 10px #535353
						color: #b1b1b1
						border: 1px solid #b1b1b1
						transition: all 0.25s ease-in-out
	.about
		@include block
		.aboutLeft
			@include center
			float: left
			background-color: #53777A
		.aboutRight
			@include center
			flex-direction: column
			float: right
			background-color: #f8f8f8
		p
			max-width: 75%
			font-family: 'Courier', serif
	.portfolio
		@include block
		.portLeft
			@include center
			float: left
			background-color: #f8f8f8
		.portRight
			@include center
			float: right
			flex-direction: column
			background-color: #53777A
		p
			max-width: 75%
			font-family: 'Courier', serif
	.contact
		.contLeft
			@include center
			float: left
			background-color: #53777A
		.contRight
			@include center
			float: right
			flex-direction: column
			background-color: #f8f8f8
		p
			max-width: 75%
			font-family: 'Courier', serif

// Stuff for the portfolio styles

.contentPort
	.title
		display: flex
		justify-content: center
		.port
			letter-spacing: 0.1em
			float: left
			font-size: 5em
			margin-top: 2em
			background-color: black
			padding: 0.1em 0.1em 0.1em 0.2em
	.work
		margin: 0 auto
		list-style: none
		text-align: center
		max-width: 70%
		float: right
		clear: both
		border: 1px solid black
		li
			border: 1px solid black
			margin: 1em 0 1em 1em
