body
	background-color: #f8f8f8
	overflow-x: hidden
	margin: 0 auto
	font-family: 'Oswald', sans-serif

.landing
	width: 80%
	height: 100vh
	margin: 0 auto

.nav
	text-align: center
	ul
		display: inline-block
		list-style-type: none
		li
			float: left
			margin-right: 1em
			margin-left: 1em
			a
				font-weight: 400
				text-decoration: none
				color: black

.description
	text-align: center
	position: relative
	top: 40%
	transform: translateY(-50%)
	h1
		font-size: 3em
		font-weight: 700
		letter-spacing: .2em
	p
		letter-spacing: .1em
