html
head
	title Yahvuh
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
	link(rel='stylesheet' ,href='https://fonts.googleapis.com/css?family=Oswald:400,700', type='text/css')
	link(rel='stylesheet', href='styles/style.min.css')
	script(src='js/main.js')
body
	section.landing
		div.nav.pure-g
			nav.pure-u-1
				ul
					li 
						a(href="#") ABOUT
					li 
						a(href="#") PORTFOLIO
					li 
						a(href="#") CONTACT
					li 
						a(href="#") BLOG
		div.description
			h1 JOHN YAHVUH
			p PROCRASTINATION EXTRAORDINAIRE | TORONTO
		
	section.second
		div.about.pure-g
			h1.pure-u-1 What does he do?
			p.pure-u-1 Frequently presses keys together into a machine.
			p.pure-u-1 Originally started making things using MEAN.
			p.pure-u-1 Found Angular too broad in its Version 1.
			p.pure-u-1 Stuck with React because its way more fun.
			p.pure-u-1 Had a JavaScript crisis, tried out Ruby.
			p.pure-u-1 Yeah, its whitespace. Its kind of groovey.
			p.pure-u-1 ES6 got wide spread adoption.
			p.pure-u-1 Made life a whole lot easier.
			p.pure-u-1 Now here I am, with not the 
				i worst 
				span option.
			p.pure-u-1 Whatever, I'll just gloat it makes prototyping easier.
			
	footer.footer
