html
head
	title Yahvuh
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="https://unpkg.com/purecss@0.6.2/build/pure-min.css")
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald:400,700', type='text/css')
	link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
	link(rel='stylesheet', href='styles/style.min.css')
body
	div.content.pure-g
		section(id="home", class="landing pure-u-1")
			div.description.pure-u-1
				h1 JOHN YAHVUH
				p 
					span JAVASCRIPT DEVELOPER | 
					span KINGSTON
				div.buttons.pure-u-1
					a(href="#about") ABOUT
					a(href="#portfolio") PORTFOLIO
					a(href="#contact") CONTACT
			div.nav.pure-u-1
				ul
					li
						a(href="#" class="fa fa-envelope")
						a(href="#" class="fa fa-linkedin-square")
						a(href="#" class="fa fa-github-square")
						a(href="#" class="fa fa-twitter-square")
			p(class="arrow fa fa-arrow-down")
			
		section(id="about", class="about pure-u-1")
			div.aboutLeft.pure-u-1-2
				h1 ABOUT ME
			div.aboutRight.pure-u-1-2
				h3 Lorem ipsum
				p  dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumt
		
		section(id="portfolio", class="portfolio pure-u-1")
			div.portLeft.pure-u-1-2
				h1 PORTFOLIO
			.portRight.pure-u-1-2
				h3 Lorem ipsum
				p dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumt
	
		section(id="contact", class="contact pure-u-1")
			div.contLeftoure-u-1-2
				h1 CONTACT
			div.contRightoure-u-1-2
				h3 Lorem ipsum
				p dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumt
		footer.footer
		script(src='js/main.js').
