html
head
	title Yahvuh
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
	link(href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css')
	link(rel='stylesheet', href='css/style.css')
	script(src='js/main.js')
body
	div.pure-g
		div#LandingPage.pure-g
			div#Menu.pure-u-1
				div#Home
					a(href="#") LOGO
				div#Items
					a(href="#") Projects
					a(href="#") Profile
					a(href="#") Contact

			div#MenuBanner.pure-u-1

			div#Intro.pure-u-1
				h1 Welcome to my portfolio.
				p Maybe it will be good. Maybe not.
				p Only time will tell.
				
		div#NextPage.pure-u-1
			div#Content
				h1 Next Page